
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

button{
    width: 350px;
    height: 250px;

}

img{
    width: 330px;
    height: 230px;
}
